.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  flex: 1;
}

h1,
h2 {
  text-align: center;
}

.score {
  width: fit-content;
  position: sticky;
  top: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  opacity: 0.8;
  padding: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

footer {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  color: var(--tertiary-color);
}
